node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
logs
*.log
*.log.*
/.pnp
.pnp.js
.vscode/
*.code-workspace
dist/
build/
.tmp.driveupload/
Documentation/
Programs/WeatherSafeApp/localhost-key.pem
Programs/WeatherSafeApp/localhost.pem
.env
Programs/WeatherSafeApp/db_errors.log