# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
*.log.*

# Dependency directories
/.pnp
.pnp.js

# Visual Studio Code
.vscode/
*.code-workspace

# Build output
dist/
build/

# Temporary files
.tmp.driveupload/
Documentation/
Programs/WeatherSafeApp/localhost-key.pem
Programs/WeatherSafeApp/localhost.pem